.wrap {
  max-width: 1240px;
  margin: 0 auto;
}

.flex-block {
  display: flex;
}

.align-left {
  justify-content: start;
}

.align-middle {
  justify-content: center;
}

.align-right {
  justify-content: end;
}

.simplebar-track {
  background-color: #2F2F37;
}

.simplebar-scrollbar {
  border-radius: 0;
  background-color: #8585AD;
  box-shadow: none;
}

.simplebar-scrollbar.simplebar-hover {
  background-color: #9595c0;
}

.simplebar-scrollbar.simplebar-visible:before {
  display: none;
}