.modal {
    position: absolute;
    z-index: 101;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #1C1C21;
    border-radius: 40px;
    padding: 40px 40px 60px;
    top: -50%;
    transition: all ease-in 0.15s;
    opacity: 0;
    width: 640px;
}

.modal_inner {
    max-width: 520px;
    margin: auto;
}

.active {
    top: 50%;
    opacity: 1;
}

.close {
    background: transparent;
    border:none;
    outline: none;
    cursor: pointer;
}