.ingredient_card {
    width: 278px;
    background-color: transparent;
    transition: background-color ease-in 0.12s;
    cursor: pointer;
    border-radius: 8px;
    position: relative;
    cursor: move;
    cursor: grab;
}

.constructor_elem_wrap {
    position: relative;
    cursor: move;
    cursor: grab;
    transition: opacity ease-in 0.15s;
    opacity: 1;
}

.constructor_elem_wrap:hover {
    opacity: 0.85;
}

.drag_icon {
    position: absolute;
    left: 0;
    top:50%;
    transform: translate(0, -50%);
}

.ingredient_card:hover {
    background-color: rgb(26, 26, 26);
}

.card__avatar {
    min-width: 240px;
    max-width: 100%;
}

.card__price {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card__title {
    padding: 0 20px 20px;
}

.ingredient_count {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    content: '';
    width: 32px;
    height: 32px;
    text-align: center;
    color: #fff;
    background-color: #4C4CFF;
    border-radius: 50%;
    right: 0;
    top: 0;
}
